ATTRS{idVendor}=="1fc9", ATTRS{idProduct}=="000c", MODE="777", GROUP="plugdev"
ACTION=="add", SUBSYSTEM=="usb", ATTRS{idVendor}=="0483", ATTRS{idProduct}=="df11", MODE="777", GROUP="plugdev", TAG+="uaccess"
LABEL="dfuutil_rules_end"
