# Black Magic Probe
# there are two connections, one for GDB and one for uart debugging
  SUBSYSTEM=="tty", ATTRS{interface}=="Black Magic GDB Server", SYMLINK+="ttyBmpGdb"
  SUBSYSTEM=="tty", ATTRS{interface}=="Black Magic UART Port", SYMLINK+="ttyBmpTarg"
  SUBSYSTEM=="tty", ATTRS{interface}=="Black Magic SLCAN", SYMLINK+="ttyBmpslcan"
#  SUBSYSTEM=="tty",  ATTRS{interface}=="Black Magic UART Port", ACTION=="add", DRIVERS=="?*", RUN+="/usr/local/bin/jeffprobe-enable-pins.sh"
ATTRS{idProduct}=="6017", ATTRS{idVendor}=="1d50", MODE="777", GROUP="dialout"
